# IntelliJ
.idea
*.iws
*.iml
*.ipr
*.log

# default network gen directory
WakuNetwork

# VS Code
*.vscode

build/
node_modules/
targets.json
data/
enclave.dump/
wls-module/requirements.txt
wls-module/__pycache__
config/topology_generated/*
gennet-module/topology/
gennet-module/network_data/
gennet-module/traits
kurtosis_log.txt
kurtosisrun_log.txt
summary.json
wakurtosis_logs/*
log_trace_test
*/__pycache__/*

# monitoring
docker-ps.out
docker-inspect.out
docker-cpuinfo.out
docker-meminfo.out
docker-stats.out
docker-procfs.out
docker-list-pids.out
monitoring/procfs-stats/stats
stats/
monitoring/container-proc/venv
cproc-env/
monitoring/container-proc/config/config.json
monitoring/container-proc/cproc_metrics.json
