# IntelliJ
.idea
*.iws
*.iml
*.ipr
*.log

# default network gen directory
WakuNetwork

# VS Code
*.vscode

build/
node_modules/
targets.json
data/
enclave.dump/
wsl-module/requirements.txt
wsl-module/__pycache__
config/network_topology_auto/
config/config.json
gennet-module/topology/
kurtosis_log.txt
config/network_topology/
config/topology_generated/
config/waku_config_files/
kurtosisrun_log.txt
summary.json
wakurtosis_logs/
log_trace_test
