# IntelliJ
.idea
*.iws
*.iml
*.ipr
*.log

# default network gen directory
WakuNetwork

# VS Code
*.vscode

build/
node_modules/
targets.json
data/
enclave.dump/
wls-module/requirements.txt
wls-module/__pycache__
config/network_topology_auto/
config/config.json
gennet-module/topology/
gennet-module/network_data/
gennet-module/traits
genload-module/genload
kurtosis_log.txt
config/network_topology/
config/topology_generated/
config/waku_config_files/
kurtosisrun_log.txt
summary.json
wakurtosis_logs/
log_trace_test


# monitoring
docker-ps.out
docker-inspect.out
docker-cpuinfo.out
docker-meminfo.out
docker-stats.out
docker-procfs.out
docker-list-pids.out
monitoring/procfs-stats/stats
stats/
monitoring/container-proc/venv
cproc-env/
monitoring/container-proc/config/config.json
monitoring/container-proc/cproc_metrics.json
